@import "../mixins/mixins-button";

[class*='c-btn--'] {
  height: 48px;
  text-decoration: none;
  border: 1px solid @color-gray;
  border-radius: @border-radius-base;
  padding: @space-half @space-double;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-btn--blue {
  .mixin-button-variant(@color-white; @color-blue; @color-blue; @color-blue; @color-white; @color-blue);
}