@import "variable-colors";

/**
* Fonts.
 */
@font-family-mont-bold: 'Montserrat-Bold', Helvetica, Arial, sans-serif;
@font-family-mont-light: 'Montserrat-Light', Helvetica, Arial, sans-serif;
@font-family-mont-regular: 'Montserrat-Regular', Helvetica, Arial, sans-serif;
@font-family-sans-bold: 'SourceSansPro-Bold', Helvetica, Arial, sans-serif;
@font-family-sans-light: 'SourceSansPro-Light', Helvetica, Arial, sans-serif;
@font-family-sans-regular: 'SourceSansPro-Regular', Helvetica, Arial, sans-serif;

/**
* Font size.
 */
@font-size-base: 16px;