<section class="audience">
    <h3 class="c-h3">WHY CHOOSE <span>APPSWORLD</span></h3>
    <p>Intrinsicly integrate standards compliant ideas with cross-unit models. Dramatically enable alternative users
        rather than orthogonal content. Proactively integrate front-end sources vis-a-vis client-based e-tailers</p>
    <h4 class="c-h4">Premium Quality</h4>
    <p>Efficiently coordinate global infrastructures through seamless deliverables. Authoritatively disintermediate high
        standards in web services with viral technologies.</p>
    <h4 class="c-h4">User Friendly</h4>
    <p>Objectively exploit go forward web-readiness for enterprise resources. Dynamically benchmark inexpensive
        e-services whereas B2C catalysts for change.</p>
    <h4 class="c-h4">Easy to use</h4>
    <p>Uniquely incentivize proactive functionalities without next-generation deliverables. Objectively scale.
        Application Screenshot</p>
    <img src="images/application-screenshot.png"/>

</section>