<section class="features">
    <h3 class="c-h3">APPSWORLD GREAT <span>FEATURES</span></h3>
    <p>Objectively embrace end-to-end mindshare after bleeding-edge innovation. Professionally repurpose robust
        communities via world-class best practices. Enthusiastically.</p>
    <h4 class="c-h4">Unique Design</h4>
    <p>Phosfluorescently leverage other's frictionless synergy.</p>
    <h4 class="c-h4">Fully Flat Layout</h4>
    <p>Dynamically whiteboard installed base information.</p>
    <h4 class="c-h4">Modern Design</h4>
    <p>Monotonectally conceptualize high standards.</p>
    <h4 class="c-h4">Clean Code</h4>
    <p>Holisticly customize front-end methodologies before.</p>
    <h4 class="c-h4">24x7 Support</h4>
    <p>Dynamically whiteboard installed base information.</p>
    <h4 class="c-h4">User Friendly</h4>
    <p>Monotonectally conceptualize high standards.</p>
    <img src="images/application-twin-mockup.png"/>

</section>